<html>
<head>
    <title>Courses</title>
    <style>
        body{
            background-color: #3e3e3e;
            color: white;
        }
    </style>
</head>
<body>
<h1>Courses</h1>

<ul>
    <li>Spring boot security</li>
    <li>Spring WEB</li>
    <li>Hibernate</li>
    <li>Jsp & Servlets</li>
</ul>

<button><a href="/logout">Log out</a></button>

<!--<form class="form-logout", method="post", action="/logout">-->
<!--    <button class="logout-button" type="submit">LOGOUT</button>-->
<!--</form>-->

</body>
</html>
